
<link rel="stylesheet" type="text/css" href="info.css">
<h2 class="second-heading"><!-- cms:id="block_name" --><!-- /cms:id="block_name" --></h2>
<!-- cms:id="entry_list" -->
<div class="info">
<div class="section">
<div class="thumsnails">
<img cms:id="thumbnail_image" src="" alt="" width="48" height="48" class="border" role="presentation">
</div>
<div class="entry-title-box">
<h2><a cms:id="entry_link*"><cms:id="title"><cms:id="title"></a></h2>
<time><cms:id="create_date"cms:format="Y年m月d日" --><cms:id="create_date"></time>
</div>
</div><!-- //.section -->
<p cms:id="thumbnail_text" class="thumbnail-text"></p>
<p class="btn_position"><span class="btn"><a cms:id="entry_link*">Read More</a></span></p>
</div>
<cms:id="entry_list">
<block:id="info">